.Associated_container {
    align-items: center;
    text-align: center;
}

.Associated_row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Associated_col {
    height: 200px;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.slick-prev,
.slick-next {
    z-index: 1000;
}

@media screen and (max-width: 375px) {
    .Associated_col {
        height: 200px;
    }

    .slick-dots li button:before {
        font-size: 10px !important;
        top: -30px !important;
    }
}

.slick-dots li button:before {
    font-size: 16px !important;
    top: -30px !important;
}

.heading {
   
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: var(--yellow) !important;
}