.Sub_heading {
    font-size: 20px;
   
    color: var(--yellow);
}

.heading {
   
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: var(--yellow) !important;
}
.Video_text{
    /* height: 200px; */
    overflow-y: scroll;
    padding: 20px;
    padding-right: 0px;
}
 .Video_text::-webkit-scrollbar {
    width: 5px;
  }